<div class="row thumbnail-container">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= asset_path "testhome.jpg" %>" alt="home for sale">
      <div class="caption">
        <h3>Pre Mover Data</h3>
        <p>The earliest, most accurate, comprehensive pre-mover data possible.</p>
        
      </div>
    </div>
  </div>  
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= asset_path "moving2.jpg" %>" alt="moving">
      <div class="caption">
        <h3>Sold data</h3>
        <p>Be the first to engage movers. Gather valuable intelligence on over a million yearly moves.</p>
        
      </div>
    </div>
  </div>  
      
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= asset_path "mailbox.jpg" %>" alt="bullseye">
      <div class="caption">
        <h3>Turnkey Direct Mail</h3>
        <p>Turnkey direct mail from planning to execution and measurement.</p>
        
      </div>
    </div>
  </div> 
  
</div>  
content 
content
content

 