<footer class="footer" style="height:200px; background-color:#34495e;">

	<div class="row">

		<div class="col-sm-6 col-md-4">
			shitty
		</div>  

		<div class="col-sm-6 col-md-4">
			fuck
		</div>  
		  
		<div class="col-sm-6 col-md-4">
			ducks
		</div> 
	  
	</div>  


</footer>   