
<header class="main-header">
    <img class="header-logo" src="<%= asset_path "MDIA.jpg" %>" alt="Banner Image"/>
    <div class="header-strip">
        <span class="actions">
            <%= link_to "Home", root_path %>
            contact
        </span>
    </div>
</header>
